{% extends 'base.html' %}

{% load static %}

{% block title %}Perguntas e Respostas{% endblock %}

{% block content %}
<style>
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color:#d3d3d3;
    overflow-x: hidden;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav {
    display: none;
  }
  
  .show-nav {
    display: block;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  code {
      background-color:white;
      padding:1px;
  }
  h1 {
    margin-top: 50px;
    background-color:fff;
  }
  
  form {
    margin-top: 20px;
  }
  
  form h2 {
    font-size: 20px; /* Increase the font size for questions */
    margin-bottom: 10px;
  }
  
  h2{
      background-color:fff;
  }
  
  form img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 0px;
    background-color:#a9a9a9;
  }
  
  form span.resposta-label {
    margin-left: 10px;
    font-size: 15px; /* Set font size for answers */
    line-height: 1.5; /* Adjust line height for answers */
    padding: -5px;
  }
  
  form label span {
    margin-bottom: 0;
  }
  
  form button {
    font-size: 18px;
    padding: 15px 0; /* Adjust padding for vertical spacing */
    width: 100%; /* Make the button occupy the full width of the container */
    box-sizing: border-box; /* Include padding in button width */
    background-color:  #45a049;
    color: white;
    font-weight: 500;
    border-radius: 10px;
  }
  
  footer p{
    margin: 0 auto ;
    width: 100%;
  }
  @media (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: center;
      font-size:30px;
    }
  
    nav ul li {
      margin: 30px 0;
    }
  
    main {
      padding: 10px;
    }
  }
  
  /* Restante das regras CSS... */
  
  /* Ajuste para perguntas com mais de 30 palavras */
  .fonte-pequena {
    font-size: 12px;
    line-height: 1.5; /* Remove o espaçamento entre linhas */
  }
  
  /* Ajuste geral para respostas */
  form label span.resposta-label {
    margin-left: 10px;
    font-size: 15px; /* Tamanho de fonte padrão para respostas */
    line-height: 1.5; /* Remove o espaçamento entre linhas */
  }
  
  /* Media query para telas menores */
  @media (max-width: 600px) {
    /* Restante das regras CSS... */
  
    /* Ajuste para perguntas com mais de 30 palavras em telas menores */
    .fonte-pequena {
      font-size: 13px;
    }
  }
  
  /* Existing CSS code */
  
  /* Add a media query for screen widths up to 600px */
  @media (max-width: 600px) {
    /* Increase font size by 1px */
    h2 {
      font-size: 21px;
    }
  
    /* Increase font size for answers by 1px */
    span.resposta-label {
      font-size: 16px;
    }
  
    /* Increase button size for better usability on mobile devices */
    form button {
      font-size: 18px;
      padding: 15px 0; /* Adjust padding for vertical spacing */
      width: 100%; /* Make the button occupy the full width of the container */
      box-sizing: border-box; /* Include padding in button width */
      background-color:  #45a049;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    }
    /* Increase font size for navigation links */
    nav ul li a {
      font-size: 30px;
    }
  
    /* Rest of the existing mobile styling */
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin: 30px 0;
    }
  
    main {
      padding: 20px;
    }
  }
  
  </style>

<div class="container">
  <h1>{{ prova.nome }}</h1>
  <form method="post" id="formulario-respostas">
    {% csrf_token %}
    {% for pergunta in perguntas %}
    {% with num_palavras=pergunta.texto_formatado|wordcount %}
    <div class="pergunta {% if num_palavras > 30 %}fonte-pequena{% endif %}" id="pergunta-{{ pergunta.id }}">
      <h2>{{ pergunta.texto_formatado|safe }}</h2>
    </div>
    {% endwith %}

    {% if pergunta.imagem %}
    <img src="{{ pergunta.imagem.url }}" alt="Imagem da pergunta">
    {% endif %}

    {% for resposta in pergunta.resposta_set.all %}
    <div class="resposta" id="resposta-{{ pergunta.id }}-{{ resposta.id }}">
      <label>
        <input type="checkbox" name="{{ pergunta.id }}" value="{{ resposta.id }}"
          {% if resposta.correta %}data-correta="true" {% endif %}>
        <span id="resposta-label-{{ pergunta.id }}-{{ resposta.id }}"
          class="resposta-label {% if resposta.correta %}correta{% endif %}">{{ resposta.texto_formatado|safe }}</span>
      </label>
    </div>
    {% endfor %}
    <hr>
    {% endfor %}
    <button type="button" id="enviar-respostas">Enviar Respostas</button>
    <button type="button" id="limpar-respostas">Limpar Respostas</button>
  </form>

<!-- Incorporar o código JavaScript diretamente -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let perguntasIncorretas = 0; // Adicione uma variável de contador
    const totalPerguntas = {{ perguntas|length }}; // Adicione o número total de perguntas

    const enviarRespostasBtn = document.getElementById('enviar-respostas');
    enviarRespostasBtn.addEventListener('click', validarRespostas);

    const limparRespostasBtn = document.getElementById('limpar-respostas');
    limparRespostasBtn.addEventListener('click', limparRespostas);

    function validarRespostas() {
      const respostasMarcadas = document.querySelectorAll('input[type="checkbox"]:checked');
      const respostasCorretas = document.querySelectorAll('.resposta-label.correta');

      let perguntasIncorretasPerguntas = new Set(); // Conjunto de perguntas já contadas como incorretas

      respostasMarcadas.forEach(resposta => {
        const perguntaId = resposta.name;
        const respostaLabel = document.getElementById(`resposta-label-${perguntaId}-${resposta.value}`);

        // Verifica se a pergunta já foi contada como incorreta
        if (!perguntasIncorretasPerguntas.has(perguntaId)) {
          respostaLabel.style.color = 'red';

          // Incrementa o contador apenas uma vez por pergunta
          if (!resposta.getAttribute('data-correta')) {
            perguntasIncorretas++;
            perguntasIncorretasPerguntas.add(perguntaId);
          }
        }
      });

      respostasCorretas.forEach(respostaCorreta => {
        respostaCorreta.style.color = 'green';
      });

      // Adicione esta linha para exibir um alerta ao enviar as respostas
      if (perguntasIncorretas > 0) {
        alert(`Você errou ${perguntasIncorretas} pergunta(s).`);
      }
    }

    function limparRespostas() {
      perguntasIncorretas = 0; // Reinicia o contador ao limpar as respostas
      const respostas = document.querySelectorAll('input[type="checkbox"]');
      respostas.forEach(resposta => {
        resposta.checked = false;
        const respostaLabel = document.getElementById(`resposta-label-${resposta.name}-${resposta.value}`);
        respostaLabel.style.color = '';
      });
    }
  });
</script> 
</div>
{% endblock %}
