{% extends 'base.html' %}
{% load static %}

{% block title %}Perguntas e Respostas{% endblock %}
{% block nav %}
<i class="bi bi-house-door-fill"></i>
<button class="btn btn-light" id="scroll-to-top">Início</button>
<button class="btn btn-light" id="scroll-to-bottom">Final</button>
<button class="btn btn-success" id="enviar-respostas">Enviar Respostas</button>
<button class="btn btn-danger" id="limpar-respostas">Limpar Respostas</button>
<img src="{{ MEDIA_URL }}/media/media/future.webp" alt="future" class="img-fluid future" style="max-height: 50px;" id="future">
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="row col-10 mx-auto titulo-prova">{{ prova.nome }}</h1>
  <div id="perguntas">
    {% for pergunta in perguntas %}
    <div class="pergunta">
      <h2>{{ pergunta.texto_formatado|safe }}</h2>
      <!-- Renderizar respostas -->
      {% for resposta in pergunta.resposta_set.all %}
      <div class="resposta">
        <label>
          <input type="checkbox" name="{{ pergunta.id }}" value="{{ resposta.id }}" {% if resposta.correta %}data-correta="true" {% endif %}>
          <span style="font-size:25px;line-height: 1.2;" id="resposta-label-{{ pergunta.id }}-{{ resposta.id }}" class="resposta-label {% if resposta.correta %}correta{% endif %}">{{ resposta.texto_formatado|safe }}</span>
        </label>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <button class="btn btn-primary" id="pergunta-anterior">Pergunta Anterior</button>
    <button class="btn btn-primary" id="proxima-pergunta">Próxima Pergunta</button>
    <button class="btn btn-success" id="validar-respostas">Validar Respostas</button>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const perguntas = document.querySelectorAll('.pergunta');
    let perguntaAtual = 0;

    function mostrarPergunta(indice) {
        perguntas.forEach((pergunta, index) => {
            if (index === indice) {
                pergunta.style.display = 'block';
            } else {
                pergunta.style.display = 'none';
            }
        });
    }

    function mostrarPerguntaAtual() {
        mostrarPergunta(perguntaAtual);
    }

    mostrarPerguntaAtual();

    const proximaPerguntaBtn = document.getElementById('proxima-pergunta');
    proximaPerguntaBtn.addEventListener('click', () => {
        perguntaAtual = (perguntaAtual + 1) % perguntas.length;
        mostrarPerguntaAtual();
    });

    const perguntaAnteriorBtn = document.getElementById('pergunta-anterior');
    perguntaAnteriorBtn.addEventListener('click', () => {
        perguntaAtual = (perguntaAtual - 1 + perguntas.length) % perguntas.length;
        mostrarPerguntaAtual();
    });

    const validarRespostasBtn = document.getElementById('validar-respostas');
    validarRespostasBtn.addEventListener('click', () => {
        const respostasSelecionadas = perguntas[perguntaAtual].querySelectorAll('input[type="checkbox"]:checked');
        const respostasCorretas = perguntas[perguntaAtual].querySelectorAll('input[type="checkbox"][data-correta="true"]');
        const respostasIncorretas = Array.from(respostasSelecionadas).filter(resposta => !resposta.getAttribute('data-correta'));

        respostasSelecionadas.forEach(resposta => {
            const respostaLabel = document.getElementById(`resposta-label-${perguntaAtual}-${resposta.value}`);
            if (resposta.getAttribute('data-correta')) {
                respostaLabel.style.color = 'blue';
            } else {
                respostaLabel.style.color = 'red';
            }
        });

        respostasCorretas.forEach(resposta => {
            const respostaLabel = document.getElementById(`resposta-label-${perguntaAtual}-${resposta.value}`);
            respostaLabel.style.color = 'blue';
        });

        respostasIncorretas.forEach(resposta => {
            const respostaLabel = document.getElementById(`resposta-label-${perguntaAtual}-${resposta.value}`);
            respostaLabel.style.color = 'red';
        });

        const todasRespostasCorretas = respostasSelecionadas.length === respostasCorretas.length && respostasIncorretas.length === 0;
        const mensagem = todasRespostasCorretas ? 'Resposta correta!' : 'Resposta incorreta!';
        alert(mensagem);
    });

});

</script>

{% endblock %}
