{% extends 'base.html' %}
{% load static %}

{% block title %}Perguntas e Respostas{% endblock %}
{% block nav %}
<i class="bi bi-house-door-fill"></i>
<button class="btn btn-light" id="scroll-to-top">Início</button>
<button class="btn btn-light" id="scroll-to-bottom">Final</button>
<button class="btn btn-success" id="enviar-respostas">Enviar Respostas</button>
<button class="btn btn-danger" id="limpar-respostas">Limpar Respostas</button>
<img src="{{ MEDIA_URL }}/media/media/future.webp" alt="future" class="img-fluid future" style="max-height: 50px;">
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="row col-10 mx-auto titulo-prova">{{ prova.nome }}</h1>
  <form method="post" id="formulario-respostas" class="row col-11 mx-auto prova">
    {% csrf_token %}
    {% for pergunta in perguntas %}
    {% with num_palavras=pergunta.texto_formatado|wordcount %}
    <div class="pergunta {% if num_palavras > 30 %}fonte-pequena{% endif %}" id="pergunta-{{ pergunta.id }}">
      <h2>{{ pergunta.texto_formatado|safe }}</h2>
    </div>
    {% endwith %}

    {% if pergunta.imagem %}
    <img src="{{ pergunta.imagem.url }}" alt="Imagem da pergunta">
    {% endif %}

    {% for resposta in pergunta.resposta_set.all %}
    <div class="resposta" id="resposta-{{ pergunta.id }}-{{ resposta.id }}">
      <label>
        <input type="checkbox" name="{{ pergunta.id }}" value="{{ resposta.id }}"
          {% if resposta.correta %}data-correta="true" {% endif %}>
        <span style="font-size:25px;line-height: 1.2;" id="resposta-label-{{ pergunta.id }}-{{ resposta.id }}"
          class="resposta-label {% if resposta.correta %}correta{% endif %}">{{ resposta.texto_formatado|safe }}</span>
      </label>
    </div>
    {% endfor %}
    <hr class="break-line">
    {% endfor %}
    
  </form>

  <!-- Incorporar o código JavaScript diretamente -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let perguntasCorretas = 0;
      let perguntasIncorretas = 0;
      let perguntasNaoRespondidas = 0;

      const enviarRespostasBtn = document.getElementById('enviar-respostas');
      enviarRespostasBtn.addEventListener('click', validarRespostas);

      const limparRespostasBtn = document.getElementById('limpar-respostas');
      limparRespostasBtn.addEventListener('click', limparRespostas);

      const marcarCorretasBtn = document.getElementById('marcar-corretas');
      marcarCorretasBtn.addEventListener('click', marcarRespostasCorretas);

      function marcarRespostasCorretas() {
        const respostas = document.querySelectorAll('input[type="checkbox"]');
        respostas.forEach(resposta => {
          const perguntaId = resposta.name;
          const respostaLabel = document.getElementById(`resposta-label-${perguntaId}-${resposta.value}`);
          if (resposta.getAttribute('data-correta')) {
            resposta.checked = true;
            respostaLabel.style.color = 'blue';
          }
        });
      }

      function limparRespostas() {
        perguntasCorretas = 0;
        perguntasIncorretas = 0;
        perguntasNaoRespondidas = 0;

        const respostas = document.querySelectorAll('input[type="checkbox"]');
        respostas.forEach(resposta => {
          resposta.checked = false;
          const perguntaId = resposta.name;
          const respostaLabel = document.getElementById(`resposta-label-${perguntaId}-${resposta.value}`);
          respostaLabel.style.color = '';
        });
      }

      function validarRespostas() {
        perguntasNaoRespondidas = 0;
        perguntasCorretas = 0;
        perguntasIncorretas = 0;

        const totalPerguntas = document.querySelectorAll('.pergunta').length;
        const respostasMarcadas = document.querySelectorAll('input[type="checkbox"]:checked');

        respostasMarcadas.forEach(resposta => {
          const perguntaId = resposta.name;
          const respostaLabel = document.getElementById(`resposta-label-${perguntaId}-${resposta.value}`);

          if (resposta.getAttribute('data-correta')) {
            respostaLabel.style.color = 'blue'; // Marca a resposta como correta (azul)
            perguntasCorretas++;
          } else {
            respostaLabel.style.color = 'red'; // Marca a resposta como incorreta (vermelha)
            perguntasIncorretas++;
            const respostasDaPergunta = document.querySelectorAll(`input[name="${perguntaId}"]`);
            respostasDaPergunta.forEach(respostaCorreta => {
              if (respostaCorreta.getAttribute('data-correta')) {
                const respostaCorretaLabel = document.getElementById(`resposta-label-${perguntaId}-${respostaCorreta.value}`);
                respostaCorretaLabel.style.color = 'blue'; // Marca a resposta correta como azul
              }
            });
          }
        });

        perguntasNaoRespondidas = totalPerguntas - respostasMarcadas.length;
        const mensagem = `Você respondeu corretamente ${perguntasCorretas} pergunta(s).\n`
          + `Você respondeu incorretamente ${perguntasIncorretas} pergunta(s).\n`
          + `Você não respondeu ${perguntasNaoRespondidas} pergunta(s).`;
        alert(mensagem);

        // Marca as respostas corretas após o usuário ter visto o alerta
        marcarRespostasCorretas();
      }
    });
  </script>
</div>
{% endblock %}
