/* Seu CSS personalizado aqui */

.resposta-correta label {
  color: blue !important; /* Define a cor azul para respostas corretas */
}

.resposta-incorreta label {
  color: red !important; /* Define a cor vermelha para respostas incorretas */
}

.py-4 {
  margin-top: 170px; /* Ajuste conforme necessário */
  display: block;
  box-sizing: content-box;
}

.jason{
  font-size: 15px;
  line-height: 1;
  color: black;
  font-weight: bold;
}